html,body{
    background-color:#C4E0F9;
    height: 100%;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.glowny{
    height: 100%;
    display: grid;
    grid-template-rows: 7% 3% 80% 3% 7%;
}
.container2{
    height: 100%;
    display: grid;
    grid-template-rows: 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% ;
    grid-row-gap: 1%;
}


.title{
    background-color: #9BBDF9;
    width: 100%;
    text-align: center;
    font-size: x-large; 
    font-weight: bold;
}

.pusty{
    background-color:#C4E0F9;
}
.c{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.img{
    float: right;
    overflow: auto;
    max-height: 7.3%;
    width: 50%;
    height: 7.3%;
}
/*
.c2{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c3{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c4{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c5{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c6{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c7{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c8{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c9{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c10{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c11{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
.c12{
    background-color: #9BBDF9;
    width: 100%;
    font-size: large;
}
*/
.inne{
    background-color: #9BBDF9;
    width: 100%;
    text-align: center;
    font-size: x-large; 
    font-weight: bold;
}
